@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom base styles */
@layer base {
  a {
    color: inherit;
    text-decoration: none;
  }

  p {
    margin: 0;
  }
}

/* custom components styles */
@layer components {
}

/* custom utilities styles */
@layer utilities {
}
